#container{
  margin-top: 50px;
  margin-left: 50px;
  border: 2px solid black;
  border-radius: 5px;
  display: inline-block;
  background-color: #d3d3d3
}
h3{
  text-align: center;
}
label{
  margin: 23px;
}
input{
  border: 2px solid black;
  border-radius: 5px;
}
button{
  margin: 23px;
  margin-left: 80px;
  width: 200px;
  border: 2px solid black;
  border-radius: 5px;
  
}
#euro{
  margin-bottom: 10px;
  margin-top: 10px;
}
#sek{
  margin-bottom: 10px;
}
output{
  margin-left: 10px;
  margin-right: 10px;
}